
body {
  background-image: url("images/black_sky.jpg");
  backdrop-filter: blur(5px);
  background-repeat: no-repeat; 
  background-attachment: fixed;
} 


a > img{
  height: 30px;
}

.filter-white {
  filter: invert(38%) sepia(84%) saturate(2441%) hue-rotate(191deg) brightness(104%) contrast(103%);
}

.white {
  color: #eeeeee;
}

.blue {
  color: #4E4FEB;
}

.cream {
  color: #ccc8aa !important;
}

.neon{
  color: #068fff;
}
