body {
  background-image: url("images/black_sky.jpg");
  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

a > img{
  height: 30px;
}

.filter-white {
  filter: invert(73%) sepia(98%) saturate(1%) hue-rotate(318deg)
    brightness(101%) contrast(103%);
}

.white {
  color: #eeeeee;
}

.blue {
  color: #4E4FEB;
}

.cream {
  color: #ccc8aa !important;
}

.neon{
  color: #068fff;
}
